<% const EJSDATA=JSON.parse(jsonData) %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <title>Document</title>
    </head>

    <body>
        <header class="p-3 d-flex justify-content-between">
            <h1 class="fw-bold">NodeAjaxBoard</h1>
        </header>
        <hr class="m-0">
        <section id="boardContainer" class="mt-3 mx-auto p-2 row col-11">
            <div class="p-0">
                <button type="button" class="btn btn-primary board-post" data-bs-toggle="modal"
                    data-bs-target="#boardPostModal">
                    글 작성하기
                </button>
            </div>
            <table class="table text-center table-bordered mt-4">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>아이디</th>
                        <th>내용</th>
                        <th>날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i=0; i < EJSDATA.length; i++ ) { %>
                        <tr>
                            <td>
                                <%= EJSDATA[i].idx %>
                            </td>
                            <td>
                                <%= EJSDATA[i].id %>
                            </td>
                            <td>
                                <%= EJSDATA[i].detail %>
                            </td>
                            <td>
                                <%= new Date(EJSDATA[i].datetime).toISOString().replace('T', ' ' ).slice(0, -5); %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <div id="pageNation">

            </div>
        </section>
        <div class="modal fade" id="boardPostModal" tabindex="-1" aria-labelledby="boardPostModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="my-0 mx-auto col-11">
                        <div class="modal-header">
                            <h5 class="modal-title" id="boardPostModalLabel">글 작성하기</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="board-input row">
                                <p class="m-1 p-0">아이디</p>
                                <input type="text" name="id" id="boardId" placeholder="아이디">
                            </div>
                            <div class="board-input row">
                                <p class="m-1 mt-2 p-0">글</p>
                                <textarea name="detail" id="boardDetail" class="px-2 py-1" cols="30"
                                    rows="10"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            <button type="submit" class="btn btn-primary" id="boardSubmit">글 등록하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        const detailInput = document.querySelector('#boardDetail')
        const idInput = document.querySelector('#boardId')
        const boardList = document.querySelector('#boardContainer table tbody')

        //얘는 버튼 눌렀을때 돌아가는 놈
        document.querySelector('#boardSubmit').addEventListener('click', (e) => {
            let detail = detailInput.value;
            let id = idInput.value;
            let httpReq = new XMLHttpRequest();
            httpReq.onreadystatechange = () => {
                if (httpReq.readyState == 4 && httpReq.status == 200) {
                    let json = JSON.parse(httpReq.responseText);
                    boardList.innerHTML = "";

                    const list = json.list; //DB data 가져오기
                    list.forEach(item => {
                        let div = document.createElement('div');
                        div.className = "board-each col-12";
                        div.innerHTML = `
                    <div class="board-header">
                        <div class="user-id">${item.id}</div>
                        <div class="board-date">${item.datetime}</div>
                    </div>
                    <div class="board-body">
                        <div class="board-detail">${item.detail}</div>
                    </div>
                    <div class="board-footer">
                        <button class="board-reply btn btn-secondary">답글달기</button>
                    </div>
                    `;
                        boardList.append(div)
                    });
                }
            };
            httpReq.open('POST', '/insert/board');
            httpReq.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            httpReq.send(`detail=${detail}&id=${id}`)
        });
    </script>

    </html>